{% block body %}
<h1>Ajout d'une categorie :</h1>
<form method="post">
    <input type="text" name="Libelle">
    <textarea name="Icone"></textarea>
    <input type="submit" value="Ajouter">
</form>

{% endblock %}