{% extends "base.html.twig" %}

{% block body %}
    <h1>Voici la liste des categories</h1>
    <div class="row">
        {% for categories in categorieList %}
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ categorie.libelle }}</h5>
                        {# Ceci est un commentaire qui ne sera pas visible sur le code HTML #}
                        <p class="card-text">
                            {{ categorie.icone }}

                        <a href="/categorie/display/{{ categorie.libelle }}" class="btn btn-primary">
                            Consulter
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}